<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="alert alert-danger" role="alert" *ngIf="message">{{message}}</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" (ngModel)="name" name="name" id="name" tabindex="1"
                         class="form-control" placeholder="Name" value="">
                </div>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" (ngModel)="username" name="username" id="username" tabindex="1"
                         class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" (ngModel)="password" name="password" id="password" tabindex="2"
                         class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                             class="form-control btn btn-login" value="Register">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col-xs-6">
                Remembered your account?
              </div>
              <div class="col-xs-6">
                <a [routerLink]="['/login']" id="register-form-link">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
