<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<header>  <app-navbar></app-navbar></header>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tags</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let tag of tags">
              <a [routerLink]="['/questions/tag/'+tag.name]">{{tag.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
